.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: rgb(180, 180, 255);
}

.logo{
  width: 80px;
  cursor: pointer;
}

.button-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icon-cart{
  width: 30px;
}

.products-in-cart {
  position: relative;
  top : -10px;
}
