.container-card {
  background-color: white;
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 173, 0.226);
}

.name-product {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.container-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-in-cart {
  display: flex;
  gap: 3px;
  border-radius: 0;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px;
  font-size: 20px;
}

.add-in-cart > p{
  position: relative;
  top: -8px;
}

.add-cart-icon {
  height: 20px;
}
