.container-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #ffdcff3b;
  gap: 20px;
}

.product {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 3px 10px #68316625;
}

.thumbnail {
  align-self: center;
  height: 100px;
  object-fit: contain;
}

.title-product {
  text-align: center;
}

.description {
  width: 90%;
  text-align: center;
  align-self: center;
}

.add-cart {
  cursor: pointer;
  width: 50%;
  align-self: center;
  border: none;
  border-radius: 3px;
  background-color: #d9b1d9;
  color: white;
  font-size: medium;
  transition: 0.6s;
}

.add-cart:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
